* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(main-picture.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.texto-com-traco {
  top: 17%;
  display: flex; /* Usa flexbox para alinhar itens */
  justify-content: center;
}

.texto-com-traco::before {
  content: "";
  display: inline-block;
  width: 350px; /* Largura do traço */
  height: 1px; /* Altura do traço */
  background-color: #000; /* Cor do traço */
  vertical-align: middle; /* Alinha o traço com o texto */
  z-index: 2; /* Garante que o texto fique sobre a imagem */
}

.container {
  width: 700px;
  height: 80vh;
  background-color: transparent;
  padding: 20px;
}

.save-the-date {
  display: flex;
  justify-content: center;
  font-family: "Xanh Mono", monospace;
  font-weight: 200;
  font-style: normal;
  color: #00353e;
  font-size: 60px;
}

.the {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-style: normal;
  color: #00353e;
  font-size: 60px;
  margin: 0 40px;
}

#nomes-destaque {
  font-family: "Great Vibes", cursive;
  margin-top: 50px;
  font-weight: 200;
  color: #00353e;
  font-size: 100px;
  text-align: center;
}

.countdown-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.demais-infos {
  color: #00353e; /* Define a cor do texto como branca */
  font-size: 25px;
  font-family: "Montaga", serif;
  font-weight: 900;
  justify-content: center;
  display: grid;
  margin-top: 40px;
}

#local {
  font-size: 20px;
  font-weight: 300;
  margin-top: -23px;
}

#countdown {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
  border: 4px solid #888888;
  padding: 10px 15px;
  border-radius: 10px 0px 10px 10px;
}

.countdown-item-dia,
.countdown-item-hora,
.countdown-item-minutos,
.countdown-item-segundos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#countdown-dias,
#countdown-horas,
#countdown-minutos,
#countdown-segundos {
  font-size: 50px;
  font-weight: normal;
  color: #00353e;
  font-family: "Montaga", serif;
}

#countdown-dias-texto,
#countdown-horas-texto,
#countdown-minutos-texto,
#countdown-segundos-texto {
  margin-top: -10px;
  font-size: 20px;
  font-weight: 900;
  color: #00353e;
  font-family: "Montaga", serif;
  position: relative;
}

.countdown-item-dia::after,
.countdown-item-hora::after,
.countdown-item-minutos::after {
  content: "";
  position: absolute;
  right: -20px; /* Ajusta a posição horizontal do traço, entre os elementos */
  top: 50%;
  transform: translateY(-50%); /* Centraliza o traço verticalmente */
  width: 1px; /* Define a largura do traço vertical */
  height: 70px; /* Define a altura do traço vertical */
  background-color: #888888; /* Cor do traço */
  z-index: 1; /* Coloca o traço atrás do texto */
}

#botão {
  background-color: transparent;
  border: 0.5px solid #8b8b8b;
  border-radius: 10px 0px 10px 10px;
  justify-content: center;
  display: grid;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 20px;
  color: #00353e;
  font-family: "Montaga", serif;
  text-decoration: none;
  transition: 0.5s;
}

#botão:hover {
  background-color: #00353e;
  color: #ffffff;
  font-weight: 200;
}

.audio-only-container iframe {
  width: 300px; /* Define a largura do iframe */
  height: 45px; /* Altura suficiente para mostrar os controles */
  border: 0;
}

.audio-only-container iframe::-webkit-media-controls-panel {
  background-color: #000; /* Cor de fundo dos controles */
}

.audio-only-container iframe::before {
  content: ""; /* Adiciona um overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.audio-only-container iframe {
  width: 1px;
  height: 1px;
  border: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.audio-controller {
  position: absolute;
  bottom: 2%; 
  right: 1%;
  background: #00353ea9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
  z-index: 3;
}

.audio-controller button {
  background: #001e24;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.audio-controller button:hover {
  background: #00353e;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  body {
    padding: 10px;
  }

  #nomes-destaque {
    font-size: 55px;
    margin: 35px 0 0 0;
  }

  .save-the-date {
    font-size: 60px;
    border-bottom: 0;
    margin-top: 1px;
  }

  .the {
    font-size: 60px;
    margin: 0 20px;
  }

  .countdown-item-segundos,
  .countdown-item-minutos::after {
    display: none;
  }

  .demais-infos {
    transform: scale(0.75);
    margin: 10px;
  }

  #botão {
    transform: scale(1.25);
    margin-top: 30px;
  }
}
