* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f9fa;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background: url("main-picture.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  margin: 0 80px;
  zoom: 20%; /* AJUSTAR LOGO DEPOIS */
}

.header-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center; /* Centralizar informações */
  padding: 30px; /* Distância do topo */
}

.nav-left {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin: 0;
  font-weight: lighter;
  font-family: "Montaga", serif;
  padding: 0 0 0 20px;
}

.nav-right {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin: 0;
  font-weight: lighter;
  font-family: "Montaga", serif;
  padding: 0 20px 0 0;
}

.nav-left li,
.nav-right li {
  margin: 0 30px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: #444444;
  cursor: pointer;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #0c6d7e;
  text-decoration: #0c6d7e wavy underline;
  font-weight: bold;
  font-family: "Montaga", serif;
}

.imagem-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.titulo-sobreposto {
  position: relative; /* Mantém o texto no fluxo normal, mas sobreposto à imagem */
  z-index: 2; /* Garante que o texto fique sobre a imagem */
  text-align: center; /* Centraliza o texto */
  color: #00353e; /* Define a cor do texto como branca */
  padding: 20px; /* Adiciona espaçamento ao redor do texto */
  margin-top: 15px; /* Adiciona um espaço abaixo da barra de navegação */
  font-size: 25px;
  max-width: 80%; /* Limita a largura do texto */
  margin-left: auto;
  margin-right: auto;
}

.demais-infos {
  color: #00353e; /* Define a cor do texto como branca */
  font-size: 25px;
  font-family: "Montaga", serif;
  font-weight: 900;
  justify-content: center;
  display: grid;
  margin-top: 40px;
}

h1 {
  font-family: "Great Vibes", cursive;
  margin-top: 50px;
  font-weight: 200;
  color: #00353e;
  font-size: 100px;
  text-align: center;
}

p {
  margin: 10px;
  font-family: "Montaga", serif;
}

#local {
  font-family: "Montaga", serif;
  font-size: 18px;
  position: relative; /* Mantém o texto no fluxo normal, mas sobreposto à imagem */
  z-index: 2; /* Garante que o texto fique sobre a imagem */
  text-align: center; /* Centraliza o texto */
  color: #00353e; /* Define a cor do texto como branca */
  font-weight: 300;
}

.shape {
  position: relative; /* Mantém o texto no fluxo normal, mas sobreposto à imagem */
  z-index: 0; /* Garante que o texto fique sobre a imagem */
  height: 150vh;
  width: 250vh;
  background-color: white;
  margin: 40px auto;
}

#botão {
  background-color: transparent;
  border: 0.5px solid #8b8b8b;
  border-radius: 10px 0px 10px 10px;
  justify-content: center;
  display: grid;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 20px;
  color: #00353e;
  font-family: "Montaga", serif;
  text-decoration: none;
  transition: 0.5s;
}

#botão:hover {
  background-color: #00353e;
  color: #ffffff;
  font-weight: 200;
}

.audio-only-container iframe {
  width: 300px; /* Define a largura do iframe */
  height: 45px; /* Altura suficiente para mostrar os controles */
  border: 0;
}

.audio-only-container iframe::-webkit-media-controls-panel {
  background-color: #000; /* Cor de fundo dos controles */
}

.audio-only-container iframe::before {
  content: ""; /* Adiciona um overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.audio-only-container iframe {
  width: 1px;
  height: 1px;
  border: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.audio-controller {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00353ea9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
  z-index: 3;
}

.audio-controller button {
  background: #001e24;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.audio-controller button:hover {
  background: #00353e;
}

.audio-description {
  text-align: center; /* Centraliza o texto */
  font-family: Arial, sans-serif; /* Define a fonte */
  font-size: 18px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  margin-bottom: 10px; /* Espaço abaixo do descritivo */
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Empilha logo e botões */
    align-items: center; /* Centraliza logo e botões */
  }

  .logo {
    margin-bottom: 10px; /* Adiciona espaço entre o logo e os botões */
  }

  .nav-left,
  .nav-right {
    flex-direction: column; /* Alinha os botões verticalmente */
    justify-content: center; /* Centraliza os botões */
    align-items: center; /* Centraliza os botões */
  }

  .nav-left li,
  .nav-right li {
    margin: 5px 0; /* Adiciona margem entre os itens verticalmente */
  }
}
