html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001e24;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.background {
  background: url("../imagens/main-picture.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
}

.logo {
  margin: 0 80px;
  zoom: 20%;
}

header {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.nav-left {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin: 0;
  font-weight: lighter;
  font-family: "Montaga", serif;
  padding: 0 0 0 20px;
}

.nav-right {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin: 0;
  font-weight: lighter;
  font-family: "Montaga", serif;
  padding: 0 20px 0 0;
}

.nav-left li,
.nav-right li {
  margin: 0 30px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: #444444;
  cursor: pointer;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #0c6d7e;
  text-decoration: #0c6d7e wavy underline;
  font-weight: bold;
  font-family: "Montaga", serif;
}

.titulo-sobreposto {
  text-align: center; /* Centraliza o texto */
  color: #00353e; /* Define a cor do texto como branca */
  padding: 20px; /* Adiciona espaçamento ao redor do texto */
  padding-top: 200px;
  font-size: 25px;
  max-width: 80%; /* Limita a largura do texto */
  margin-left: auto;
  margin-right: auto;
}

.demais-infos {
  color: #00353e; /* Define a cor do texto como branca */
  font-size: 25px;
  font-family: "Montaga", serif;
  font-weight: 900;
  justify-content: center;
  display: grid;
  margin-top: 40px;
}

h1 {
  font-family: "Great Vibes", cursive;
  margin-top: 50px;
  font-weight: 200;
  color: #00353e;
  font-size: 100px;
  text-align: center;
}

.titulo-sobreposto p {
  margin: 10px;
  font-family: "Montaga", serif;
}

.historia {
 padding: 30px;
 border-radius: 5px;
 height: 400px;
 background-color: white;
 padding: 4% 10%;
 display: flex;
 gap: 50px;
 align-items: center;
 box-shadow: 8px 3px 20px 0px inset rgba(0, 0, 0, 0.288);
}

#historia-foto > h2 {
  color: #0c6d7e;
  font-family: "Montaga", serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  width: 300px;
  margin-bottom: 15px;
}

#historia-texto {
  color: #0c6d7e;
  font-family: "Montaga", serif;
  font-weight: 400;
  text-align: justify;
  font-size: 15px;
}

#historia-texto > h2 {
  color: #0c6d7e;
  font-family: "Montaga", serif;
  font-weight: bold;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 2%;
}

#historia-foto > h2::after {
  content:'';
  width: 75%;
  background-color: #00353e;
  height: 2px;
  margin-top: 3px;
  display: flex;
  margin-inline: auto;
}

#historia-texto > p {
  color: rgb(0, 87, 72);
  width: auto;
  text-align: justify;
}

#foto-buque {
width: 300px;
margin-top: 2%;
}

#tempo-juntos {
  font-size: 16px;
  color: #00353e;
}

.mapa {
  height: 900px;
  background-color: #F2F2F2;
  padding: 2% 10%;
  justify-content: center;
  align-items: center;
}

.mapa-box {
  max-width: 90vw;
  height: auto;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa-box > h2 {
  color: #002b33;
  font-family: "Montaga", serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 0 0 10px 0;
}

#map-content {
  width: 1000px;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

#mapa-content-texto {
  color: white;
  width: auto;
}

#mapa-content-texto h2 {
  color:#002b33;
  font-family: "Montaga", serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5%;
}

#mapa-content-texto p {
  color:#0c6d7e;
  width: auto;
  text-align: justify;
}

.mapa-google-maps {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

iframe {
  width: 1000px;
  height: 350px;
  border-radius: 10px;
  justify-self: center;
  margin-bottom: 30px;
}

#video {
  width: 100%;
  height: auto;
}

.direcionamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#botao-maps-waze {
  padding: 10px 20px;
  width: 400px;
  height: 5vh;
  margin-top: 30px;
  margin: auto;
  background-color:#05C8F7;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #0087a8;
}

#botao-maps-google {
  padding: 10px 20px;
  width: 400px;
  height: auto;
  margin-top: 30px;
  margin: auto;
  background-color:#ffffff;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #00A66C;
}

.mapa-google-maps a {
  text-decoration: none;
  color: #646463;
}

#botao-maps-waze:hover, #botao-maps-waze:hover * {
  background-color: #0093b8;
  color: white;
}

#botao-maps-waze:hover {
  color: white;
}

#botao-maps-google:hover, #botao-maps-google:hover * {
  background-color: #00A66C;
  color: white;
}

.direcionamentos button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

#local {
  font-family: "Montaga", serif;
  font-size: 18px;
  position: relative; /* Mantém o texto no fluxo normal, mas sobreposto à imagem */
  z-index: 2; /* Garante que o texto fique sobre a imagem */
  text-align: center; /* Centraliza o texto */
  color: #00353e; /* Define a cor do texto como branca */
  font-weight: 300;
}

.shape {
  position: relative; /* Mantém o texto no fluxo normal, mas sobreposto à imagem */
  z-index: 0; /* Garante que o texto fique sobre a imagem */
  height: 150vh;
  width: 250vh;
  background-color: white;
  margin: 40px auto;
}

#botão-count {
  background-color: transparent;
  border: 0.5px solid #8b8b8b;
  border-radius: 10px 0px 10px 10px;
  justify-content: center;
  display: grid;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 20px;
  color: #00353e;
  font-family: "Montaga", serif;
  text-decoration: none;
  transition: 0.5s;
}

#botão-count:hover {
  background-color: #00353e;
  color: #ffffff;
  font-weight: 200;
}

.audio-only-container iframe {
  width: 300px; /* Define a largura do iframe */
  height: 45px; /* Altura suficiente para mostrar os controles */
  border: 0;
}

.audio-only-container iframe::-webkit-media-controls-panel {
  background-color: #000; /* Cor de fundo dos controles */
}

.audio-only-container iframe::before {
  content: ""; /* Adiciona um overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.audio-only-container iframe {
  width: 1px;
  height: 1px;
  border: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.audio-controller {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00353ea9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
  z-index: 3;
}

.audio-controller button {
  background: #001e24;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.audio-controller button:hover {
  background: #00353e;
}

.audio-description {
  text-align: center; /* Centraliza o texto */
  font-family: Arial, sans-serif; /* Define a fonte */
  font-size: 18px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  margin-bottom: 10px; /* Espaço abaixo do descritivo */
}

/* Media query para telas menores */
@media (max-width: 768px) {

  
  .background {
    height: 99vh;
    background-size: cover;
  }

.logo {
  margin: 5px auto;
  zoom: 25%; /* Ajusta a logo para caber melhor */
}

.nav-left, .nav-right {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
}

.nav-left li, .nav-right li {
  margin: 7px 0;
}

.nav-left a, .nav-right a {
  font-size: 18px;
}

.titulo-sobreposto {
  font-size: 18px;
  max-width: 100%; /* Mais espaço para conteúdo */
  margin: 0;
}

h1 {
  font-size: 60px;
  margin-top: 30px;
}

h2 {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
}

p {
  text-align: center;
}

.demais-infos {
  font-size: 18px;
}

#botão {
  padding: 8px 10px;
  font-size: 14px;
}

.historia {
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: auto; /* Altura automática */
}

#historia-foto {
display: grid;
justify-content: center;
align-items: center;
text-align: center;
}

#historia-foto > h2 {
  width: auto;
}

#historia-foto img {
  width: 100%; /* Imagem ocupa largura total */
  height: auto; /* Altura proporcional */
}

#historia-texto {
  font-size: 14px;
}

/* Controlador de áudio */
.audio-controller {
  bottom: 10px;
  right: 10px;
  padding: 8px;
}

.audio-controller button {
  padding: 8px;
}

}
